<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="/admin/admin-layout">
<head>
<meta charset="ISO-8859-1"/>
<title>User Input Form</title>
</head>

	<div layout:fragment="content">
	
	<div class="mainpanel">
		<div class="contentpanel">
		
     <div class="panel">
     	<div class="container">
     	 <div class="row">
     	 	<div class="col-md-4">
               <div class="panel-heading">
              <h1 class="panel-title" th:text="#{form}"></h1>
              
            </div>
            <div class="panel-body">
        
        <!--     
           <form th:action="@{/get-data}" th:object="${obj}" th:method="POST">
           		<input type="text" class="form-control" th:field="*{name}">
           </form>
           -->
      	<form th:action="${addStatus==true?'/usersave':'/update'}" th:object="${user}" th:method="POST">
     	
               <div class="form-group has-success">
              <input type="text" class="form-control" th:placeholder="#{user-id}"  th:field="*{id}">
              </div>
              <div class="form-group has-success">
                <input class="form-control" th:placeholder="#{user-name}" type="text" th:field="*{name}" >
              </div> 
              <div class="form-group has-success">
                <input class="form-control" th:placeholder="#{user-gender}" type="text" th:field="*{gender}">
              </div>
              <div class="form-group has-success">
                <input class="form-control" th:placeholder="#{user-age}" type="text" th:field="*{age}">
              </div>
              
             <div class="form-group has-success">
                <input class="form-control" th:placeholder="#{user-email}" type="text" th:field="*{email}">
              </div>
            <div class="form-group has-success">
                <input class="form-control" th:placeholder="#{user-phone}" type="text" th:field="*{phone}">
              </div>
                <div class="form-group has-success">
                <input class="form-control" th:placeholder="#{user-hash}" type="text" th:field="*{user_hash}" readonly="readonly" >
              </div>
              
              <div class="row ">
             	 <div class="col-md-5">
              		<div class="form-group has-success ">
              		
              			<input type="submit" class="form-control" style="background-color:#a5ea7b; " th:value="#{btnAdd}" /> 
              			 	
              		</div>
             	 </div>
              </div>
              
              
              
              
              
     </form>
              
              
              </div>
              
              
            </div>
        	</div>
        	</div>
          </div>
		  </div>
		  


       
    
    <!-- End of contentpanel -->
 
  	</div> 
  	</div>

