


<script th:src="@{resources/admin/assets/js/jquery/jquery.js}"></script>
<script th:src="@{resources/admin/assets/js/jquery-ui/jquery-ui.js}"></script>
<script th:src="@{resources/admin/assets/js/bootstrap/js/bootstrap.js}"></script>
<script th:src="@{resources/admin/assets/js/jquery-toggles/toggles.js}"></script>
<script th:src="@{resources/admin/assets/js/morrisjs/morris.js}"></script>
<script th:src="@{resources/admin/assets/js/raphael/raphael.js}"></script>
<script th:src="@{resources/admin/assets/js/flot/jquery.flot.js}"></script>
<script th:src="@{resources/admin/assets/js/flot/jquery.flot.resize.js}"></script>
<script th:src="@{resources/admin/assets/js/flot-spline/jquery.flot.spline.js}"></script>
<script th:src="@{resources/admin/assets/js/jquery-knob/jquery.knob.js}"></script>
<script th:src="@{resources/admin/assets/js/quirk.js}"></script>
<script th:src="@{resources/admin/assets/js/dashboard.js}"></script>